.callout {
  padding: 1em;
  border-radius: 12px;
  margin: 1em 0;
  font-weight: 500;
}
.callout span {
  margin-right: 0.4em;
}
.callout a {
  text-decoration: underline;
}
.callout a:hover {
  opacity: 80%;
}

.tool {
  background-color: rgba(211, 211, 211, 0.25);
}
.link {
  background-color: rgba(91, 167, 255, 0.25);
}
.prompt {
  background-color: rgba(255, 91, 91, 0.25);
}
.star {
  background-color: rgb(255, 216, 118, 0.25);
}
